Google Drive.json
{
  "name": "Google Drive",
  "nodes": [
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        400
      ],
      "id": "1828f551-07b8-4968-a5fa-c7bad6881a4c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "G78igJYiwRZC8RzR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "loader": "pdfLoader",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.idArquivo }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1120,
        368
      ],
      "id": "fade5335-198f-43c5-82ae-250eec08c29d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 80000,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1248,
        560
      ],
      "id": "d785b96c-9fc4-4404-9813-0740a8f0b61e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.idArquivo }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        608,
        128
      ],
      "id": "d4bb0036-4779-40f3-b847-1f1c7614760f",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "qVWjzQagboB1TasH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32a72019-47e6-4fb4-b1c5-985ff7f16e38",
              "name": "idArquivo",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        128
      ],
      "id": "269ad68a-9e9a-4740-8f67-58af48b51945",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "19nSjO_0VFSGlTicE76HQuCovII7_3q3c",
          "mode": "list",
          "cachedResultName": "Fluxo Digital Tech - IA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19nSjO_0VFSGlTicE76HQuCovII7_3q3c"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "070bf7a7-74c6-43e7-a089-dfb96405cc58",
      "name": "Arquivo Atualizado",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yGTp4DPZCyTjDHsH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.idArquivo }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        128
      ],
      "id": "5b068892-716b-4d2e-ac44-f6f8161a03f8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yGTp4DPZCyTjDHsH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "19nSjO_0VFSGlTicE76HQuCovII7_3q3c",
          "mode": "list",
          "cachedResultName": "Fluxo Digital Tech - IA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19nSjO_0VFSGlTicE76HQuCovII7_3q3c"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        288
      ],
      "id": "4ce57dcc-a65d-4c0c-8907-f0fc7c6d2a7b",
      "name": "Arquivo Criado1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yGTp4DPZCyTjDHsH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        1040,
        128
      ],
      "id": "5818e5ba-1c17-4580-a7a0-635bbdf53efc",
      "name": "FluxoDigitalTech",
      "credentials": {
        "supabaseApi": {
          "id": "qVWjzQagboB1TasH",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "FluxoDigitalTech",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "FluxoDigitalTech",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arquivo Atualizado": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "FluxoDigitalTech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arquivo Criado1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "15c84148-51de-47e7-b89a-d6d0d415f641",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b44f951b7bf3125ad5d504525bef11c3378beee4075396ccfaa193a0472caa7b"
  },
  "id": "E1e5vid8HX5PSkhD",
  "tags": []
}