Responde comentario instagram.json
{
  "name": "Responde comentario instagram",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v21.0/{{ $('Dados1').item.json.idcomentario }}/replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer IGAAj073v9B1hBZAE50WmNWd3lWRHhnM05jMWlCWlJwQy1KRVZAMcWU3SlhTYU5WWWhLcGx4VzBYUk9SeVVJTHhVVFV6Q3BKSTlDQkFBZAFItdHM2dWdBNThHT2RaTWp1QWxZAYVVpWVNURUxkNFg4Vk91UGJaa1h3MkloZADEwaUZACVQZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f7cff5f2-cf5f-4faa-b43f-1ebd505880d3",
      "name": "Responder Comentário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3488,
        -736
      ]
    },
    {
      "parameters": {
        "inputText": "={{ $('Dados1').item.json.comentario }}",
        "options": {
          "categories": "Positivo, Neutro, Negativo, Sarcástico"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1,
      "position": [
        -4256,
        -720
      ],
      "id": "32db0b9b-564c-4087-a205-040205cd82ad",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Dados1').item.json.comentario }}",
        "options": {
          "systemMessage": "=Você é um agente responsável por responder comentários no Instagram.\n\nResponda de maneira curta, direta e com no máximo 5 palavras.\n\nResponda com empolgação, mas sem intimidade. Você namora.\n\nResponda em português.\n\nTodos que responderem fluxo, você irá dizer obrigado por interagir e manda um emoji e diz alguma pergunta para interação \n\nSeja simpático \n\nNão seja repetitivo \n\nSeja uma pessoa que saiba bastante de tecnologia e marketing \n\nNão faça uma pergunta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -3904,
        -928
      ],
      "id": "240accbf-6a70-4cbe-9971-b7d4d671faaa",
      "name": "O bonzinho"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Dados1').item.json.comentario }}",
        "options": {
          "systemMessage": "=Você é um agente responsável por responder comentários NEGATIVOS no Instagram.\n\nResponda de maneira curta, direta e com no máximo 5 palavras.\n\nSeja sarcástico nas respostas, mas nada de agressividade.\n\nResponda em português.\n\nNão faça uma pergunta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -3904,
        -624
      ],
      "id": "681c4095-08e7-4625-8af7-f8aafa9b81d4",
      "name": "O sarcástico"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21453cda-029b-49cb-8d74-0d57371bd66b",
              "name": "meuid",
              "value": "={{ $json.body.entry[0].id }}",
              "type": "string"
            },
            {
              "id": "5a00e7ca-93f4-4859-85ec-e179f6fff928",
              "name": "idusuario",
              "value": "={{ $json.body.entry[0].changes[0].value.from.id }}",
              "type": "string"
            },
            {
              "id": "ed98e891-334c-4525-b76e-b626b73823e8",
              "name": "nomeusuario",
              "value": "={{ $json.body.entry[0].changes[0].value.from.username }}",
              "type": "string"
            },
            {
              "id": "760ad8e3-7667-4d20-9028-1f6fa7d9ca4e",
              "name": "idpublicacao",
              "value": "={{ $json.body.entry[0].changes[0].value.media.id }}",
              "type": "string"
            },
            {
              "id": "b0d2d77b-092e-4922-9acf-2b20cd2c0f38",
              "name": "idcomentario",
              "value": "={{ $json.body.entry[0].changes[0].value.id }}",
              "type": "string"
            },
            {
              "id": "6221a87b-9c18-4ec0-9dc3-396349a42f1a",
              "name": "comentario",
              "value": "={{ $json.body.entry[0].changes[0].value.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9e8283b0-4272-47fb-a14f-95dd43670dfd",
      "name": "Dados1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4704,
        -784
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b72d9a88-9f4a-4993-acdf-d1f615d5d3ff",
              "leftValue": "={{ $json.idusuario }}",
              "rightValue": "={{ $json.meuid }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "acf4ffd9-adec-4ac8-afc4-bc99c7174b81",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -4528,
        -784
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v22.0/{{ $('Sentiment Analysis').item.json.meuid }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAj073v9B1hBZAE50WmNWd3lWRHhnM05jMWlCWlJwQy1KRVZAMcWU3SlhTYU5WWWhLcGx4VzBYUk9SeVVJTHhVVFV6Q3BKSTlDQkFBZAFItdHM2dWdBNThHT2RaTWp1QWxZAYVVpWVNURUxkNFg4Vk91UGJaa1h3MkloZADEwaUZACVQZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=recipient.id",
              "value": "={{ $('Dados1').item.json.idusuario }}"
            },
            {
              "name": "message.text",
              "value": "=Você ganhou 20% de desconto em nossos produtos de automação! 🤖✨\nQuer saber mais? Digite seu número de WhatsApp e entraremos em contato com você ainda hoje."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3120,
        -736
      ],
      "id": "15da7d52-498d-4b0e-85f6-443e234fec7b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b55c3294-11c9-4b3d-8799-7bbf848d070c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5184,
        -784
      ],
      "id": "ee885494-5533-4661-bd39-b12af25e1013",
      "name": "Recebe1",
      "webhookId": "b55c3294-11c9-4b3d-8799-7bbf848d070c"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "=Fluxo Digital &Tech",
        "remoteJid": "=5511920412220@s.whatsapp.net",
        "messageText": "=@{{ $('Recebe1').item.json.body.entry[0].changes[0].value.from.username }} - Comentou",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3296,
        -736
      ],
      "id": "f5bef86f-8466-4f43-b6df-be7570086079",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "UHIgFpVwP5YQKLxZ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.from.username }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "84a94688-4413-450b-b4ee-7396241ee580"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0b07fe94-1985-4f78-8178-6a59872a2603",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4960,
        -768
      ],
      "id": "8a43d897-bd1e-4c68-9ffe-d41b50313d9d",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4224,
        -416
      ],
      "id": "ad55f486-6c78-4e0e-b60e-fa7044b40abb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "G78igJYiwRZC8RzR",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Recebe1": [
      {
        "json": {
          "headers": {
            "host": "webh.fluxodigitaltech.com.br",
            "user-agent": "Webhooks/1.0 (https://fb.me/webhooks)",
            "content-length": "301",
            "accept": "*/*",
            "content-type": "application/json",
            "x-forwarded-for": "173.252.95.3",
            "x-forwarded-host": "webh.fluxodigitaltech.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "94c0aeedafc5",
            "x-hub-signature": "sha1=f2808c26435f24dad162bc924418bda96a70e43f",
            "x-hub-signature-256": "sha256=e6d57009fa79681b61430e80829f5e6c324cf6b35535f81b6b411d5ee40f3300",
            "x-real-ip": "173.252.95.3",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "entry": [
              {
                "id": "17841461949902728",
                "time": 1750795888,
                "changes": [
                  {
                    "value": {
                      "from": {
                        "id": "1451977979308655",
                        "username": "guis.s_"
                      },
                      "media": {
                        "id": "18345170023089677",
                        "media_product_type": "FEED"
                      },
                      "id": "17911892670160819",
                      "text": "Fluxo"
                    },
                    "field": "comments"
                  }
                ]
              }
            ],
            "object": "instagram"
          },
          "webhookUrl": "https://webh.fluxodigitaltech.com.br/webhook/b55c3294-11c9-4b3d-8799-7bbf848d070c",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Responder Comentário": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "O bonzinho",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "O bonzinho",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "O sarcástico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "O sarcástico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "O bonzinho": {
      "main": [
        [
          {
            "node": "Responder Comentário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "O sarcástico": {
      "main": [
        [
          {
            "node": "Responder Comentário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recebe1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "O bonzinho",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "O sarcástico",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "014736b0-5d5e-42de-8541-1718ba790839",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b44f951b7bf3125ad5d504525bef11c3378beee4075396ccfaa193a0472caa7b"
  },
  "id": "xxua7X8GbZWxfdq1",
  "tags": []
}